* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #333;
}

.container {
  margin: 2rem;
}

.header {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.btn {
  padding: .5rem;
  font-size: 1.4rem;
  border: none;
  background: aquamarine;

}

.btn:hover {
  cursor: pointer;
}